#background {
    width: 100%;
    height: 100%;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
}

#ui {
    font-family: Courier;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    position: absolute;
    border-radius: 0;
    z-index: 1;
    top: 20px;
    width: 100%;
}

#feature {
    margin-left: 5px;
}

#main-view {
    width: 100%;
    height: 100%;
}

.example-card {
    width: 550px;
    position: absolute;
    left: 20px;
    top: 60px;
}

.main {
    width: 100%; /* 80% of the total width for a ratio of 4:1 */
    height: 100%;
    position: relative;
}

#feature {
    position: absolute;
    left: 0px;
    top: 0px;
}

#sub-view {
    width: 100%;
    height: 300px;
}

#move-button {
    background: gray;
    width: 10px;
    height: 10px;
}
