<mat-toolbar class="header">
    <span class="header-item-container"> Sketch Modeler </span>
    <span class="header-item-container"> <app-draw></app-draw> </span>
    <span class="header-item-container">
        <app-feature></app-feature>
    </span>
</mat-toolbar>
<div id="container">
    <div #background id="background">
        <div class="main">
            <div
                #mainView
                id="main-view"
                (mouseover)="isMouseInMain(true)"
                (mouseout)="isMouseInMain(false)"
            ></div>
            <div class="example-card">
                <mat-card>
                    <mat-card-content>
                        <div #subView id="sub-view"></div>
                    </mat-card-content>
                    <!--<mat-card-actions>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                    <mat-card-footer>
                        <mat-progress-bar
                            mode="indeterminate"
                        ></mat-progress-bar>
                    </mat-card-footer>-->
                </mat-card>
            </div>
        </div>
    </div>
</div>
