#background {
    width: 100%;
    height: 100%;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
}

#ui {
    font-family: Courier;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    position: absolute;
    border-radius: 0;
    z-index: 1;
    top: 20px;
    width: 100%;
}

#feature {
    margin-left: 5px;
}

.main {
    float: left;
    width: 70%; /* 80% of the total width for a ratio of 4:1 */
    height: 100%;
}

.sub {
    float: left;
    width: 30%; /* 20% of the total width for a ratio of 4:1 */
    height: 100%;
}

.row-1 {
    position: relative;
    width: 100%;
    height: 20%;
}

.row-2 {
    position: relative;
    width: 100%;
    height: 40%;
}

.row-3 {
    position: relative;
    width: 100%;
    height: 40%;
}

.element {
    width: 100%;
    height: 100%;
}
