<button
    class="feature-button"
    mat-stroked-button
    (mousedown)="$event.stopPropagation()"
    (mosemove)="$event.stopPropagation()"
    (mouseup)="$event.stopPropagation()"
>
    정보콘솔
</button>
<button
    class="feature-button"
    mat-stroked-button
    (mousedown)="$event.stopPropagation()"
    (mosemove)="$event.stopPropagation()"
    (mouseup)="$event.stopPropagation()"
    (click)="this.onShowDirections()"
>
    방향보여주기
</button>
<button
    class="feature-button"
    mat-stroked-button
    (mousedown)="$event.stopPropagation()"
    (mosemove)="$event.stopPropagation()"
    (mouseup)="$event.stopPropagation()"
    (click)="this.onClickConvert()"
>
    변환
</button>
<span class="toggle">
    그리기
    <mat-slide-toggle
        (mousedown)="$event.stopPropagation()"
        (mosemove)="$event.stopPropagation()"
        (mouseup)="$event.stopPropagation()"
    >
    </mat-slide-toggle>
    변환 뷰
</span>
