<div style="display: flex">
    <div>
        <button
            mat-icon-button
            (mousedown)="$event.stopPropagation()"
            (mosemove)="$event.stopPropagation()"
            (mouseup)="$event.stopPropagation()"
            (click)="this.onClickUndoDraw()"
        >
            <mat-icon>undo</mat-icon>
        </button>
        <button
            mat-icon-button
            (mousedown)="$event.stopPropagation()"
            (mosemove)="$event.stopPropagation()"
            (mouseup)="$event.stopPropagation()"
            (click)="this.onClickRedoDraw()"
        >
            <mat-icon>redo</mat-icon>
        </button>
        <button
            mat-icon-button
            (mousedown)="$event.stopPropagation()"
            (mosemove)="$event.stopPropagation()"
            (mouseup)="$event.stopPropagation()"
            (click)="this.onClickConvert()"
        >
            <mat-icon>3d_rotation</mat-icon>
        </button>
    </div>
</div>
